<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>XO pro</name>

  <description>
      XO pro 1.0.0
  </description>

  <author href="https://instagram.com/liamirali" email="liamirali.lotfi@gmail.com">
      liAmirali
  </author>
   
  <icon src="icon.png" />
  <content src="www/index.html" />
  <access origin="*" />
</widget>