<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.liamirali.xopro"
    versionCode = "040010100"
    version     = "1.1.0" >
<!-- versionCode is optional and Android only -->

  <name>XO pro</name>

  <description>
      XO pro v1.1.0
  </description>

  <author href="https://instagram.com/liamirali" email="liamirali.lotfi@gmail.com">
      liAmirali
  </author>
   
  <icon src="icon.png" />

  <!-- www/ will be automatically added to the path -->
  <content src="index.html" />

  <access origin="*" />

  <!-- Prevent the app to switch to landscape view -->
  <preference name="orientation" value="portrait" />
</widget>