#page-32{
	width: 100%;
	height: 100%;

	position: absolute;
	z-index: 4;
	display: none;

	background: linear-gradient(to left top, #0ba360, #3cba92);
}

#page-32 #enterNameDiv{
	width: 100%;
	height: 85%;
}

#page-32 #enterNameDiv .holder{
	width: 100%;
	height: 30%;

	position: absolute;
	bottom: 50%;
}

#page-32 #enterNameDiv .holder #playerOneEnterName,
#page-32 #enterNameDiv .holder #playerTwoEnterName
{
	width: 100%;
	height: 100%;
}

#page-32 #enterNameDiv .holder #playerTwoEnterName{
	display: none;
}

#page-32 #enterNameDiv .holder #txtEnterName,
#page-32 #enterNameDiv .holder #inputEnterName{
	width: 100%;
	height: 50%;
}

#page-32 #enterNameDiv .holder #txtEnterName p{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;

	font-family: 'IRANSansWeb';
	font-size: 18px;
	color: white;
}

#page-32 #enterNameDiv .holder #inputEnterName input{
	width: 50%;
	height: 30px;

	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	background-color: transparent;
	border: 0;
	border-bottom: 2px white solid;
	padding: 5px 10px;

	font-family: 'IRANSansWeb';
	font-size: 17px;
	color: #111;
	text-align: center;	

	-webkit-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}

#page-32 #enterNameDiv .holder #inputEnterName input:focus{
	width: 65%;
	border-bottom-color: white !important;
}




#page-32 #enterNameDiv #nextBtnEnterName{
	width: 100%;
	height: 20%;

	position: absolute;
	bottom: 25%;
}

#page-32 #enterNameDiv #nextBtnEnterName button{
	width: 170px;
	height: 50px;

	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	background-color: white;
	border: 0;
	border-radius: 25px;

	font-family: 'IRANSansWeb';
	font-size: 15px;
	color: black;
}

#page-32 #enterNameDiv #nextBtnEnterName button:active{
	padding: 0;
}